<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
        <title>{{ block "title" . }}Learn to play Go{{ end }}</title>
        {{ block "extraInlineCSS" . }}
        {{ end}}
        {{ block "extraJS" . }}
        {{ end }}
    </head>
    <body class="text-lg p-4" {{block "onLoad" . }} {{ end }}>
        <div id="" class="obal puzzle">
            <a href="/{{ .Params.section }}"><div  class="button-grey"><span class="black">BACK</span> to menu</div></a>
        {{- block "body" . }}
            {{- partial "header.html" . -}}
            <div id="content">
            {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
        {{- end }}
            {{- block "confirmation" . }}{{- end }} 
        </div>
    </body>
</html>
