
<div><a onclick="uncollapse('{{ .Get 0 }}')" class="alert my-2 text-sm" style="cursor: pointer; color: darkgreen; border-left: 5px solid darkgreen"><b>{{ .Get 1 }} > </b></a><br>
<div id= "{{ .Get 0 }}" class="my-2 alert" style="display: none; width: 100%; border-left: 5px solid darkgreen">
    {{ .Inner }}
</div></div><br>
